In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly

In [2]:
df = pd.read_csv('/Users/ewenwang/Documents/GitHub/TiMaep/data/A_Bite_of_Season_trans.csv')

In [3]:
df.head()

   month item category          item_en
0      1   菠萝    fruit         Pinapple
1      1   甘蔗    fruit        Sugarcane
2      1  砂糖橘    fruit     Sugar orange
3      1   腰果      nut      Cashew nuts
4      1   白菜     vege  Chinese cabbage

In [19]:
def getData(df, month=[1], cate=['fruit', 'nut', 'vege'], en=False):
    lang = 'item_en' if en else 'item'
    return df[df['month'].isin(month) & df['category'].isin(cate)].reset_index(drop=True)

In [20]:
test = getData(df)

In [21]:
test

   month item category          item_en
0      1   菠萝    fruit         Pinapple
1      1   甘蔗    fruit        Sugarcane
2      1  砂糖橘    fruit     Sugar orange
3      1   腰果      nut      Cashew nuts
4      1   白菜     vege  Chinese cabbage
5      1  小白菜     vege  Chinese cabbage
6      1   菠菜     vege          spinach
7      1   彩椒     vege     color pepper
8      1  胡萝卜     vege           Carrot

In [22]:
test2 = getData(df, month=[5, 6], cate=['fruit'])
test2

    month item category        item_en
0       5   菠萝    fruit       Pinapple
1       5   草莓    fruit     strawberry
2       5  火龙果    fruit         pitaya
3       5   荔枝    fruit         Lychee
4       5   枇杷    fruit         Loquat
5       5   桑葚    fruit       Mulberry
6       5   山竹    fruit     mangosteen
7       5   樱桃    fruit         Cherry
8       6   菠萝    fruit       Pinapple
9       6   草莓    fruit     strawberry
10      6   黑莓    fruit     Blackberry
11      6  火龙果    fruit         pitaya
12      6   蓝莓    fruit      Blueberry
13      6   荔枝    fruit         Lychee
14      6   榴莲    fruit         Durian
15      6   桑葚    fruit       Mulberry
16      6    桃    fruit          Peach
17      6   山竹    fruit     mangosteen
18      6    杏    fruit        apricot
19      6   西瓜    fruit     watermelon
20      6   香瓜    fruit     muskmelons
21      6   樱桃    fruit         Cherry
22      6   杨梅    fruit       waxberry
23      6   椰子    fruit        Coconut
24      6  神秘果    fruit  miracle fruit
25      6  释迦果    fruit  Custard apple

In [23]:
test2.item_en.str.capitalize()

0          Pinapple
1        Strawberry
2            Pitaya
3            Lychee
4            Loquat
5          Mulberry
6        Mangosteen
7            Cherry
8          Pinapple
9        Strawberry
10       Blackberry
11           Pitaya
12        Blueberry
13           Lychee
14           Durian
15         Mulberry
16            Peach
17       Mangosteen
18          Apricot
19       Watermelon
20       Muskmelons
21           Cherry
22         Waxberry
23          Coconut
24    Miracle fruit
25    Custard apple
Name: item_en, dtype: object

In [24]:
df['item_en'] = df['item_en'].str.capitalize()

df.head(10)

   month item category          item_en
0      1   菠萝    fruit         Pinapple
1      1   甘蔗    fruit        Sugarcane
2      1  砂糖橘    fruit     Sugar orange
3      1   腰果      nut      Cashew nuts
4      1   白菜     vege  Chinese cabbage
5      1  小白菜     vege  Chinese cabbage
6      1   菠菜     vege          Spinach
7      1   彩椒     vege     Color pepper
8      1  胡萝卜     vege           Carrot
9      2   甘蔗    fruit        Sugarcane

In [25]:
df.to_csv('/Users/ewenwang/Documents/GitHub/TiMaep/data/A_Bite_of_Season_trans.csv', index=False)